<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  
  {{#if (check_equal logged_in_user_id user_id)}}
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name ">Post Title:</label>
        <input class="form-input" type="text" id="post-title" name="project-name" />
      </div>
      
      <div class="form-group">
        <label for="project-desc">content:</label>
        <textarea class="form-input" id="post-content" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <p hidden id="post-id">{{id}}</p>
        <button type="submit" class="btn btn-primary update-button">Update</button>
        
      </div>
    </form>
  {{/if}}
</div>

<script src="/js/update.js"></script>
